<div class="r2-upload" data-r2-upload>
  <div class="r2-upload__dropzone" data-r2-dropzone>
    <div class="r2-upload__icon">
      <i class="fas fa-cloud-upload-alt"></i>
    </div>
    <div class="r2-upload__text">
      <strong>Drag & drop a video</strong>
      <span>or click to browse (mp4, mov, webm)</span>
    </div>
    <input class="r2-upload__input" type="file" accept="video/mp4,video/quicktime,video/webm" data-r2-input>
  </div>

  <div class="r2-upload__progress" data-r2-progress hidden>
    <div class="r2-upload__progress-header">
      <span data-r2-filename>Preparing upload...</span>
      <span data-r2-percent>0%</span>
    </div>
    <progress max="100" value="0" data-r2-bar></progress>
    <p class="r2-upload__status" data-r2-status></p>
  </div>
</div>
