[build]
  command = "npx @11ty/eleventy"
  publish = "_site"

[functions]
  directory = "src/netlify/functions"

[[redirects]]
  from = "http:///*"
  to = "https://:splat"
  status = 301
  force = true

[[redirects]]
  from = "/auth"
  to = "/.netlify/functions/auth"
  status = 200

[[redirects]]
  from = "/callback"
  to = "/.netlify/functions/callback"
  status = 200