---
layout: video.njk
step: 1
videoTitle: "The Breaking Point"
description: "You got into this profession because you wanted to help kids. So how did you end up feeling like you're failing them?"
bunnyVideoId: ""
bunnyLibraryId: "394122"
---

<ul>
    <li><strong>The Hidden Struggle:</strong> Most school BCBAs are drowning in crisis calls while feeling like they're failing the kids they came to help.</li>
    <li><strong>It's Not Your Fault:</strong> You were trained to be an excellent clinician, but never taught how to handle the impossible demands of a school district.</li>
    <li><strong>There Is Another Way:</strong> This video series will show you the path from crisis manager to systems leader.</li>
</ul>
